[submodule "src/referencesource"]
	path = src/referencesource
	url = https://github.com/simonegli8/WebFormsCoreReferenceSource
[submodule "src/dotnet"]
	path = src/dotnet
	url = https://github.com/dotnet/runtime.git
[submodule "src/mono"]
	path = src/mono
	url = https://github.com/mono/mono.git
[submodule "src/SoapFormatter"]
	path = src/SoapFormatter
	url = https://github.com/novotnyllc/SoapFormatter.git
[submodule "src/CassiniDev"]
	path = src/CassiniDev
	url = https://github.com/simonegli8/CassiniDev
[submodule "src/AspNetWebOptimization"]
	path = src/AspNetWebOptimization
	url = https://github.com/aspnet/AspNetWebOptimization.git
[submodule "src/WebGrease"]
	path = src/WebGrease
	url = https://github.com/Licshee/WebGrease.git
[submodule "src/WebFormsForCore.AjaxControlToolkit"]
	path = src/WebFormsForCore.AjaxControlToolkit
	url = https://github.com/simonegli8/WebFormsForCore.AjaxControlToolkit
[submodule "src/Redesigner"]
	path = src/Redesigner
	url = https://github.com/simonegli8/Redesigner
